@import url("core.css");
@import url("responsive.css");


header h1 {
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    z-index: 1000;
    top: 20px;
    right: 20px;
}

.search-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.search textarea {
    resize: none;
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #333;
}

header h1,
nav ul li a,
.socials a,
.blog-info,
h2,
#sub-talk-header,
#quote,
.date,
#Code-information {
    color: #fff;
}


.subscribe-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4.5rem;
}

.subscribe-btn:hover {
    background-color: #0056b3;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    height: 2px;
    margin-left: 15px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: lightgreen;
    transition: width 0.2s;
}

.underline:hover:after {
    width: 65%;
}

.container {
    display: flex;
    margin: 1rem;
}

main {
    flex: 3;
    margin-right: 1rem;
}

aside {
    flex: 1;
    background: #333;
    padding: 1rem;
    color: #fff;
}

article {
    background: #333;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
}

article h1 {
    background: #333;
    color: #fff;
    padding: 1rem;
}

.avatarImg {
    display: block;
    margin-top: -70px;
    margin-left: 300px;
    width: 120px;
}

figcaption {
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    margin-right: 355px;
}

.date {
    font-size: 0.7rem;
    color: #fff;
}

.blog-info {
    color: #fff;
    padding: 1rem;
}

.important {
    text-decoration: underline;
    color: #007bff;
}

#line-under-blog {
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.466);
    margin-left: 15px;
}

article #quote {
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.466);
    padding: 1rem;
    margin-left: 15px;
    display: inline-block;
}

article #sub-talk-header,
#sub-heading-talk {
    color: #fff;
    padding: 1rem;
}

article h2 {
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem;
}

article pre,
#Code-information {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
}

aside h3 {
    margin-top: 0;
}

aside ul {
    list-style: none;
    padding-left: 0;
}

aside ul li {
    margin-bottom: 0.5rem;
}

.bulletpoints li {
    color: #fff;
    margin-left: 1.5rem;
}

.bulletpoints ol li {
    color: #fff;
    margin-left: 2.5rem;
}

#olderpostbtn,
#newpostbtn {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    background-color: rgb(80, 10, 172);
    border-radius: 2em;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    transition: all 0.2s;
    cursor: pointer;
}

#newpostbtn:hover,
#olderpostbtn:hover {
    border-color: #fff
}

aside h3 {
    color: white;
    margin-bottom: 1rem;
}

.about {
    background-color: #444;
}

.archives h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.archives p {
    font-size: 14px;
    color: #555;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.archives ul {
    list-style-type: none;
    padding: 0;
}

.archives li {
    margin-bottom: 5px;

}

.archives a,
.elsewhere a {
    text-decoration: underline;
    color: #007bff;
}

.archives a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .avatarImg {
        margin-left: 0;
        margin-top: 10px;
        width: 80px;
    }
}